# Python-specific
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/

# VSCode settings
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Environment files
.env
venv/
__pycache__/
.env
.vscode/
